@font-face {
    font-family: "IBMEGA";
    src: url('Web437_IBM_EGA_8x14.woff');
}
div {
    font-family: IBMEGA;
}

* {  box-sizing: border-box; }

html { font-size: 10px; }

body { font-family: "IBMEGA", Arial, sans-serif; font-size: 17px; color: #4b4f5c; line-height: 1.42857143; margin:0; }

pre, code { font-family: "IBMEGA"; font-weight: 500; font-size: 14px; }

.xterm-screen {
    margin: auto auto;
}